.invoice {
	position: relative;
}

.invoice .company {
	font-family: Helvetica;
	font-weight: bold;
	font-size: 28px;
}

.invoice .row {
	padding-bottom: 20px;
}

.invoice .text {
    padding-top: 15px;
}

.pt8 {
	padding-top: 8px;
}

/* Align save/finalize/pdf buttons */
.nm7 {
	margin-top: -7px;
}
/* Shown non-editable when final */
.o50 {
    opacity: 0.5;
}

textarea.form-control.h140 {
	height: 140px;
}